doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
    link(rel='stylesheet', href='/stylesheets/jquery.sidr.light.css')
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/javascripts/jquery.sidr.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/jasny-bootstrap.js')
    script(src='/javascripts/jquery.sidebar.js')
    script(src='/javascripts/sideslidr.js')
    script(src='/javascripts/headnavbar.js')
    meta(http-equiv="Pragma",content="no-cache")
    meta(http-equiv="cache-control",content="no-cache")
    meta(http-equiv="expires",content="0")
    
  body
    block content
