body {
  padding: 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar-brand {
  background: url("/picture/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}